
.container{
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s;
  background: #e6dace;
}

.cards_container{
  width: 800px;
  max-width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #000;
  font-size: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.title::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #0050ff;
  position: absolute;
  left: -25px;
}

.container p.first_text {
  text-align: center;
  padding:  0 1rem;
}




